In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split

## Simple Linear Regression
A univariate linear regression model tutorial

In [ ]:
df = pd.DataFrame({'YearsExperience':[1.1, 1.3, 1.5, 2, 2.2, 2.9, 3, 3.2, 3.2, 3.7, 3.9,
                                      4, 4, 4.1, 4.5, 4.9, 5.1, 5.3, 5.9, 6, 6.8, 7.1, 7.9,
                                      8.2, 8.7, 9, 9.5, 9.6, 10.3, 10.5],
                   'Salary': [39343, 46205, 37731, 43525, 39891, 56642, 60150, 54445, 64445,
                              57189, 63218, 55794, 56957, 57081, 61111, 67938, 66029, 83088,
                              81363, 93940, 91738, 98273, 101302, 113812, 109431, 105582,
                              116969, 112635, 122391, 121872]})
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [ ]:
df.iloc[:,-1].values

array([ 39343,  46205,  37731,  43525,  39891,  56642,  60150,  54445,
        64445,  57189,  63218,  55794,  56957,  57081,  61111,  67938,
        66029,  83088,  81363,  93940,  91738,  98273, 101302, 113812,
       109431, 105582, 116969, 112635, 122391, 121872])

In [ ]:
x = df.iloc[:, :-1].values
y = df.iloc[:,-1].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 1/3, random_state = 0)

In [ ]:
model = linear_model.LinearRegression()
model.fit(xTrain, yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state = 4)

In [ ]:
model = linear_model.LinearRegression()

In [ ]:
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.coef_

array([[-1.15966452e-01,  4.71249231e-02,  8.25980146e-03,
         3.23404531e+00, -1.66865890e+01,  3.88410651e+00,
        -1.08974442e-02, -1.54129540e+00,  2.93208309e-01,
        -1.34059383e-02, -9.06296429e-01,  8.80823439e-03,
        -4.57723846e-01]])

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
print(np.array(y_test)[1], y_pred[1])

[24.8] [26.9894969]

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# The coefficients
print('Coefficients: \n', model.coef_)

Coefficients:
 [[-1.15966452e-01  4.71249231e-02  8.25980146e-03  3.23404531e+00
  -1.66865890e+01  3.88410651e+00 -1.08974442e-02 -1.54129540e+00
   2.93208309e-01 -1.34059383e-02 -9.06296429e-01  8.80823439e-03
  -4.57723846e-01]]

In [ ]:
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

Mean squared error: 25.42

In [ ]:
print('R square: %.2f' % r2_score(y_test, y_pred))

R square: 0.73